p{
  margin-bottom: 15px;
}

button{
  @include boxShadow;
  background-color: #ffffff;
  padding: 10px 20px;
  border: none;
  font-size: $detailPage;
  color: $lightModeTxt;
  cursor: pointer;
}

input{
  @include boxShadow;
  padding: 20px 30px;
  width: 450px;
  max-width: 100%;
  font-size: $homeFontSize;
  border: none;
  border-radius: 6px;
}


h1{
  font-size: 24px;
  font-weight: 800;
}


.strong{
  font-weight: 600;
}
