#app{
  display: block;
  width: 100%;
  min-height: 100%;
  font-family: $fontFamily;
}

.container{
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: $breakpointDesktop;
  height: auto;
  padding: 0 40px;
}

.content-wrapper{
  background-color: $darkModeTxt;
}

.topbar{
  display: block;
  padding: 30px 0;
}

.topbar-elements{
  display: flex;
  justify-content: space-between;
}

.mode{
  font-weight: 600;
}

.search-box{
  display: block;
  position: relative;
}

.switch-mode{
  display: block;
  position: relative;
  padding: 10px 0 0 30px;
  cursor: pointer;
}

.flag-grid{
  display: flex;
  flex-direction: column;
  width: 100%;
  @include desktopBreakpoint{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.grid-item{
  @include boxShadow;
  display: block;
  flex-basis: 20%;
  margin: 20px;
  cursor: pointer;
  &:nth-child(4n+0), &:nth-last-child(n){
    margin-right: 0px !important;
  }
  &:nth-child(4n+1){
    margin-left: 0 !important;
  }
}

.flag-image{
  display: block;
  width: 100%;
  img{
    display: block;
    width: 100%;
  }
}

.grid-item-desc{
  display: block;
  font-size: $homeFontSize;
  font-weight: 300;
  padding: 20px 20px 5px;
  .title{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
  }
}

.filters{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0 10px;
  @include desktopBreakpoint{
    flex-direction: row;
    margin: 50px 0;
  }
}