#app{
  display: block;
  width: 100%;
  height: auto;
  font-family: $fontFamily;
}

.container{
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  max-width: $breakpointDesktop;
  height: auto;
  padding: 0 40px;
}

h1{
  font-size: 24px;
  font-weight: 800;
}

.topbar{
  display: block;
  padding: 30px 0;
}

.topbar-elements{
  display: flex;
  justify-content: space-between;
}

.mode{
  font-weight: 600;
}

.flag-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.grid-item{
  display: block;
  flex-basis: 20%;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(77,75,77,1);
  -moz-box-shadow: 0px 0px 20px -10px rgba(77,75,77,1);
  box-shadow: 0px 0px 20px -10px rgba(77,75,77,1);
  &:nth-child(4n+0), &:nth-last-child(n){
    margin-right: 0px !important;
  }
  &:nth-child(4n+1){
    margin-left: 0 !important;
  }
}

.flag-image{
  display: block;
  width: 100%;
  img{
    display: block;
    width: 100%;
  }
}

.grid-item-desc{
  display: block;
  font-size: $homeFontSize;
  font-weight: 300;
  padding: 20px 20px 5px;
  .title{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  p{
    margin-bottom: 15px;
  }
  span{
    font-weight: 600;
  }
}